@import '@/scss/_variable.scss';

.grid {
    &-table {
        text-align: center;
    }

    &-rows {
        &:hover {
            cursor: pointer;
        }
    }
}

.btn{ 
    &-area {
        width: 100%;
        height: 70px;
    }
}